.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
}
.formWrapper{
 background-color: #2B2B2B;
 padding:1rem 2rem 2rem 2rem;
 border-radius: 5px;
 width:400px;
 max-width: 90%;
}
.title{
  color: #00A8CC;
  text-align:center;
}
.inputGroups
{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  
}
.inputBox{
  margin-bottom: 1rem;
  padding:.7rem;
  font-size: 1rem;
  border-radius:5px;
  outline: none;
  border: none;
  background-color:transparent;
  color: #00A8CC;
  border: 1px solid #EEEEEE;
  font-weight: 600;

}
.btn{
  padding: .6rem; 
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #00A8CC;
  font-size:1rem;
  font-weight: 700;
  cursor: pointer;
  color: #EEEEEE;
  transition: all .3s ease-in-out;
}
.joinBtn
{
  margin-left: auto;
  width: 20%;
}
.createRoom
{
  /* color: #00A8CC; */
  color: #EEEEEE;
  padding-top:1rem;
  margin: auto;
}

/* editor css */

.editorWrapper
{
  display: grid;
  height: 100vh;
  grid-template-columns: 230px 1fr;
}
.leftWrapper
{
  display:flex;
flex-direction: column;
padding: 1rem;
background-color: #070739;
}
.leftInner{
  flex: 1;
}
.copyBtn{
  margin:.5rem 0;
}
.leaveBtn{
  margin:.5rem 0;
  background-color: #FF0000;
}
.rightWrapper{
  height:100vh;
  background-color: #222831;
  background-color: #161616 !important;
  
}



.connectClientList
{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* client css */
.client
{
  /* display: inline-block; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  margin: .5rem;
  font-weight: 800;
}
.clientUsername{
  text-transform: capitalize;
  font-size: .7rem;
  margin-top: .5rem;

}
.CodeMirror {

  min-height: calc(100vh - 40px);
  font-size: 16px;
  line-height: 1.6;
  padding-top: 5px;
  overflow: hidden;
  overflow-y: hidden;
  background-color: #161616 !important;
  font-family:'Oswald', sans-serif;
 
}

.CodeMirror-gutter
{
  background-color: #161616 !important;
}
.submitBtn
{
  padding:.5rem 1.3rem;
  background-color: #4E9F3D;
  /* color: #2B2B2B; */
  font-weight: 700;
  font-size:1rem ;
  /* margin-left: .5rem; */
  margin-top: .5rem;
  
  text-transform: capitalize;
 

}
.submitBtn:hover{
  box-shadow: rgba(222, 221, 221, 0.2) 0px 2px 8px;
}
.outputBox{
  margin-top: 5px;
}


.select{
  padding:.5rem;
  display: inline-block;
  /* float: right; */
}